@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/info.css');

:root {
    --cor-principal: #000000;
    --cor-2: #f6f6f6;
    --cor-3: #22D4FD;
    --cor-green: #16FF00;
    --cor-yellow: #FFED00;
    --cor-hover: #272727;
    --Krona-One:"Krona One", sans-serif;
    --Mont-serrat: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    }

body {
    background-color: var(--cor-principal);
    color: var(--cor-2);
    box-sizing: border-box;
}
.img1 {
    width: 40%;
}

.nav {
    display: flex;
    gap: 5rem;
    
}

.header {
    padding: 2% 0% 0% 14%;
}

.menu{
    font-family: var(--Mont-Serrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-green);
    text-decoration: none;
}

.icon {
    /*https://css.gg/info*/
    /*https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-github*/
    /*https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-linkedin-square*/
    /*https://fontawesome.com/*/
    text-decoration: none;
    color: var(--cor-2);
    display: flex;
    gap: 0.7rem;
    font-size: 1.2rem;
    align-items: flex-end;
    justify-content: space-between;
} 

.apresentacao {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--Krona-One);
    font-size: 2.25rem;
}

.DestaqueNoTitulo {
    color: var(--cor-green);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--Mont-Serrat);
}

.subtitulo {
    font-family: var(--Krona-One);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.apresentacao__links__linkedin {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--cor-3);
    width: 68%;
    text-align: center;
    border: 2px dashed var(--cor-green);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 21px 0px;
    font-weight: 400;
    font-family: var(--Mont-serrat);
    text-decoration: none;
}

.apresentacao__links__github {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 68%;
    text-align: center;
    border: 2px dashed var(--cor-2);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600px;
    padding: 21px 0px;
    color: var(--cor-2);
    font-family: var(--Mont-serrat);
    text-decoration: none;
}

.apresentacao__links__github:hover {
    background-color: var(--cor-hover);
}
.apresentacao__links__linkedin:hover {
    background-color: var(--cor-hover);
}

.footer {
    background-color: var(--cor-green);
    text-align: center;
    color: var(--cor-principal);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 1rem;
    padding: 1.5rem;
    font-family: var(--Mont-serrat);
    text-decoration: none;
}
.f{
    color: var(--cor-principal);
    text-decoration: none;
}

/*Aba CV*/
.titulos {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.subtitulos {
    padding: 4% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.certificate {
    text-decoration: none;
    color: var(--cor-principal);;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }
    .body {
        background-color: #117507;
    }
    /*.menu {
        justify-content: center;
    }*/
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}
